@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>CalculatorView</title>
</head>
<body>
    <div>
        <form action="Calculator/total" method="post">
            Value 1
            <input type="text" name="value1" />
            <br />
            Value 2
            <input type="text" name="value2" />
            <br />
            <input type="radio" name="calci" value="+" /> + <br />
            <input type="radio" name="calci" value="-" /> - <br />
            <input type="radio" name="calci" value="*" /> * <br />
            <input type="radio" name="calci" value="/" /> / <br />
            <input type="submit" value="count" /> 
        </form>

    </div>
</body>
</html>

